body {
    margin: 0;
}

.hero-section {
   
}

.row {
    display: flex;
}

.container {
    width: 20%;
    
}
.container img { /*picture must fit in to parent element 100%, because it is biger originally*/
    width: 100%;
}

.row .container:focus,
.row .container:hover{
    transform: scale(1.5);
    z-index: 1;
}

.middle {
    background-color: red;
}

.text {
    color: white;
    font-size: 16px;
}